::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgb(246, 191, 255);
}

body{
	padding: 0;
	margin: 0;
}

*{
		font-family: 'Source Sans Pro', sans-serif;
}

.hello-text{
	display: flex;
	justify-content: center;
	margin-top: 7%;
	font-size: 110px;
	font-weight: 100;
	color: rgba(0,0,0,0.8);
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 12px;
}

.intro-text{
	color:rgb(84, 55, 94);
	font-weight: bold;
	font-size: 40px;
	font-family: 'Source Sans Pro', sans-serif;
}


.card-holder{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top:5%;
}

.mycard{
	margin-left: 7%;
}

.mycard:first-child{
	margin-left: 0;
}



.programms{
	padding-top: 3%;
	background: rgb(250, 224, 255);
	margin-top: 7%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.progus{
	display: flex;
	justify-content: center;
	font-size:50px;
}


.line-under-skills{
	border: 3px solid pink;
}

.flex{
	flex-direction: column;
	display: flex;
	justify-content: center;
}

.skillstext{
	display: flex;
	justify-content: center;
	width: 100%;
}


.imgCard{
	margin-left: 5%;
	width: 15%;
}

.dir{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.imgCard2{
	width: 10%;
	margin-left: 2%;
}

.offset-info{
	display: grid;
	grid-template-columns: 50% 50%;
	background: rgb(255,255,255);
	width: 60%;
	transform: translateY(-50%);
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.nav-link{
	transition: .4s;
	border: 1px solid rgba(0,0,0,0);
}


.prtfl{
	font-weight:lighter;font-size:90px;margin-top:10%;
}
.offset-info-photo{
	display: flex;
	justify-content: center;
	align-items: center;
}

.offset-info-img{
	height: 35%;
}

.nav-link:hover{
	border: 1px solid rgba(0,0,0,0.4);
}
.offset-info-text{
	height: 40%;
}
.brg{
	filter: brightness(0.65);
}



@media (max-width: 800px) {
	.card-holder{
		flex-direction: column;
	}

	.card-holder{
		width: 90%;
	}

	.prtfl{
		font-size:55px;
	}

	.progus{
		font-size:36px;
	}

	.hello-text{
		font-size:40px;
	}

	.offset-info{
		transform: translateX(0%);
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

}
